*{
    margin: 0%;
    padding: 0%;

}
.navbar {
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: larger;
    height: 50px;
    font-weight: 100;
    font-size: 25px;
  }

  .navbar a {
    color: #333;
    text-decoration: none;
    font-family: cursive;
  }

  .navbar a:hover{
    border: 2px solid black;
    border-radius: 15px 0 15px 0;
    padding: 3px;
    box-shadow: 4px 3px blue;
    background-color: black;
    color: white;
  }

.navbar a.active {
  border: 2px solid black;
  border-radius: 15px 0 15px 0;
  padding: 3px;
  box-shadow: 4px 3px blue;
  background-color: black;
  color: white;
  }

  .heading{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    color: #0f050c;
    font-size: 35px;
    font-family: cursive;
    font-weight: lighter;
    text-shadow: 2px 2px #0b0bf3;
}

.container{
  background: url(../images/event1.jpg)no-repeat;
  background-size: cover;
  height: 80vh;
  width: 100%;
  background-position: 70% 30%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 0 4px 7px black;
  margin-top: 20px;
}

