
*{
    margin: 0%;
    padding: 0%;

}
.navbar {
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: larger;
    height: 50px;
    font-weight: 100;
    font-size: 25px;
  }

  .navbar a {
    color: #333;
    text-decoration: none;
    font-family: cursive;
  }

  .navbar a:hover{
    border: 2px solid black;
    border-radius: 15px 0 15px 0;
    padding: 3px;
    box-shadow: 4px 3px blue;
    background-color: black;
    color: white;
  }

.navbar a.active {
  border: 2px solid black;
  border-radius: 15px 0 15px 0;
  padding: 3px;
  box-shadow: 4px 3px blue;
  background-color: black;
  color: white;
  }
body {
  background-image: url(../images/feedback.jpeg);
  background-size: cover;
    font-size: 18px;
    line-height: 1.5;
    /* margin: 40px; */
  }
  
  h1 {
    font-size: 30px;
    text-align: center;
    font-style: italic;
    color: #fff;

  }
  
  h2 {
    font-size: 35px;
    text-align: center;
    color: #fff;
  }
  p{
    font-size: 30px;
    text-align: center;
    color: #fff;
  }
  
  form {
    max-width: 700px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    /* background-color: transparent; */
    color: #fff;
    font-style: italic;
    font-size: 30px;
    margin-bottom: -20px;
    
  }
  
  input[type="text"],
  input[type="email"],
  input[type="date"],
  input[type="number"],
  textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: -60px;
    font-size: 26px;
    background-color: transparent;
    color: #fff;
    border: double 5px white;
    border-radius: 20px;
  }
  
  input[type="submit"] {
    font-size: 25px;
    width: 100%;
    height: 60px;
    margin-top: 50px;
    border-radius: 10px;
    border: double 4px white;
    background-color: transparent;
   
    color: #fff;
    text-align: center;
    justify-content: center;
  }
  
  footer {
    background-color: rgb(52, 48, 48);
      padding: 40px 0;
      color: #fbf7f7;
      text-align: center;
      font-family: cursive;
    }
    
    .footer-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      max-width: 100%;
      margin: 0 auto;
    }
    
    .footer-column {
      width: 300px;
      margin-bottom: 20px;
    }
    
    h3 {
      font-size: 25px;
      margin-bottom: 15px;
      color: #f8f5f5;
    }
    
    p {
      font-size: 16px;
      line-height: 1.5;
    }
    
    ul {
      list-style: none;
      padding: 0;
    }
    
    ul li a {
      color: #f6f3f3;
      text-decoration: none;
      font-size: 21px;
      transition: color 0.3s ease;
      margin-bottom: 10px;
    }
    
    ul li a:hover {
      color: #f31212;
    }
    
    .social-icons {
      display: block;
      justify-items: center;
      margin-left: 120px;
      margin-top: 20px;
      height: 20px;
      width: 40px;
    }
    
    
    .social-icons li {
      margin: 0 8px;
      
    }
    
    .fa {
      font-size: 35px;
     
    }
    
    
    /* Responsive Styles */
     @media screen and (max-width: 768px) {
      .footer-column {
        width: 100%;
      }
    } 
     
    