*{
    margin: 0%;
    padding: 0%;

}
.navbar {
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: larger;
    height: 50px;
    font-weight: 100;
    font-size: 20px;
  }

  .navbar a {
    color: #333;
    text-decoration: none;
    font-family: cursive;
  }

  .navbar a:hover{
    border: 2px solid black;
    border-radius: 15px 0 15px 0;
    padding: 3px;
    box-shadow: 4px 3px blue;
    background-color: black;
    color: white;
  }

.navbar a.active {
  border: 2px solid black;
  border-radius: 15px 0 15px 0;
  padding: 3px;
  box-shadow: 4px 3px blue;
  background-color: black;
  color: white;
  }
  .heading{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    color: #0f050c;
    font-size: 35px;
    font-family: cursive;
    font-weight: lighter;
    text-shadow: 2px 2px #0b0bf3;
}

.main{
  background: url(../images/food.jpg)no-repeat;
  background-size: cover;
  height: 70vh;
  width: 85%;
  background-position: 70% 30%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 0 4px 7px black;
  margin-top: 20px;


}
.main:hover{
  box-shadow: 0 4px 7px rgb(19, 19, 189);
  height: 73vh;
  width: 90%;
}
.main h2{ 
  font-size: 90px;
  padding-top: 60px;
  font-style: italic;
  color: hsl(0, 18%, 97%);
  margin-left: 150px;
  text-shadow: 2px 2px blue;
}

.main h1{
  margin-top: -35px;
font-size: 4rem;
font-weight: 700;
padding-left: 13%;
color: aliceblue;

}

.btn1{
  height: 60px;
width: 200px;
color: rgb(10, 9, 9);
background-color: rgb(243, 245, 238);
font-weight: bold;
font-size: 28px;
border-radius:  15px 0 15px 0 ;
text-decoration: none;
margin-left: 13%;
font-weight: 500;
border: none;
box-shadow: 5px 5px rgb(15, 15, 106);
margin-top: 15px;
font-style: italic;

}
.btn1:hover{
 box-shadow: 5px 5px rgb(239, 8, 224);
 border-radius: 0px 20px 0px 20px ;
 

}
.container h1{
  padding-top: 5%;
  font-style: italic;
  font-size: 40px;
}
.img-fluid{
height: 70vh;
width: 50%;
margin-left: 700px;

}

.youtube-video{
height: 400px;
width: 700px;
padding-left: 25%;
padding-top: 8%;
}

.cards .heading {
  padding-top: 10%;
  padding-bottom: 7%;
  
}

.items{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 30px 20px;
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  text-decoration: none;
}

.item img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  cursor: pointer;
  transition: 0.2s ease;

}

.item img:hover{
  transform: scale(1.05);
}

.item h1{
  padding: 5px;
  text-align: center;
}
.btt{
  text-decoration: none;
}

.item button{
  padding: 5px 30px;
  border: #0f050c;
  background-color: bisque;
  color: black;
  cursor: pointer;
  border-radius: 4px;
  font-size: 20px;
  display: block;
  margin: 0 auto;
  transition: 0.2s all;
  text-decoration: none;
} 

.item button:hover{
  transform: scale(1.08);
background-color: burlywood;
text-decoration: none;
}



footer {
  background-color: rgb(52, 48, 48);
    padding: 40px 0;
    color: #fbf7f7;
    text-align: center;
    font-family: cursive;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 100%;
    margin: 0 auto;
  }
  
  .footer-column {
    width: 300px;
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 25px;
    margin-bottom: 15px;
    color: #f8f5f5;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li a {
    color: #f6f3f3;
    text-decoration: none;
    font-size: 21px;
    transition: color 0.3s ease;
    margin-bottom: 10px;
  }
  
  ul li a:hover {
    color: #f31212;
  }
  
  .social-icons {
    display: block;
    justify-items: center;
    margin-left: 120px;
    margin-top: 20px;
    height: 20px;
    width: 40px;
  }
  
  
  .social-icons li {
    margin: 0 8px;
    
  }
  
  .fa {
    font-size: 35px;
   
  }
  
  
  /* Responsive Styles */
   @media screen and (max-width: 768px) {
    .footer-column {
      width: 100%;
    }
  } 
   
  