*{
    margin: 0%;
    padding: 0%;

}
.navbar {
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: larger;
    height: 50px;
    font-weight: 100;
    font-size: 20px;
    background-color: #20d6ee;
    /* animation: animateBg 5s linear infinite ; */
  }
  @keyframes animateBg {
    100%{
       filter:hue-rotate(360deg);
    }
 }

  .navbar a {
    color: #333;
    text-decoration: none;
    font-family: cursive;
  }

  /* .navbar a:hover{
    border: 2px solid black;
    border-radius: 15px 0 15px 0;
    padding: 3px;
    box-shadow: 4px 3px rgb(242, 242, 245);
    background-color: black;
    color: white;
  } */
  .navbar a:hover{
    border-radius: 15px 0 15px 0;
    padding: 3px;
   background: linear-gradient(rgb(11, 107, 126), rgb(37, 226, 134));
    color: rgb(240, 239, 240);
    border: 2px solid rgb(239, 234, 234);
  }

.navbar a.active {
  border: 2px solid rgb(244, 241, 241);
  border-radius: 15px 0 15px 0;
  padding: 3px;
  box-shadow: 4px 3px rgb(245, 245, 248);
  background-color: black;
  color: white;
  }
  .heading{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    color: #0f050c;
    font-size: 35px;
    font-family: cursive;
    font-weight: lighter;
    text-shadow: 2px 2px #0b0bf3;
    
}



footer {
    background-color: rgb(30, 27, 41);
      padding: 40px 0;
      color: #fbf7f7;
      text-align: center;
      font-family: cursive;
      animation: animateBg 5s linear infinite ;
    }
    
    .footer-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      max-width: 100%;
      margin: 0 auto;
    }
    
    .footer-column {
      width: 265px;
      margin-bottom: 5px;
    }
    
    h3 {
      font-size: 21px;
      margin-bottom: 15px;
      color: #f8f5f5;
    }
    
    p {
      font-size: 14px;
      line-height: 1.5;
    }
    
    ul {
      list-style: none;
      padding: 0;
    }
    
    ul li a {
      color: #f6f3f3;
      text-decoration: none;
      font-size: 16px;
      transition: color 0.3s ease;
      margin-bottom: 5px;
    }
    
    ul li a:hover {
      color: #f31212;
    }
    
    .social-icons {
      display: block;
      justify-items: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      height: 20px;
      width: 40px;
    }
    
    
    .social-icons li {
      margin: 0 8px;
      
    }
    
    .fa {
      font-size: 35px;
     
    }
    
    
    /* Responsive Styles */
     @media screen and (max-width: 768px) {
      .footer-column {
        width: 100%;
      }
    } 