*{
    margin: 0%;
    padding: 0%;
    /* position: relative; */

}
.navbar {
    background-color: #13e3f2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: larger;
    height: 50px;
    font-weight: 100;
    font-size: 20px;
    animation: animateBg 10s linear infinite;
    
  }
  @keyframes animateBg {
    100%{
       filter:hue-rotate(360deg);
    }
 }

  .navbar a {
    color: #333;
    text-decoration: none;
    font-family: cursive;
 
  }
  .navbar a:hover{
    border: 2px solid black;
    border-radius: 15px 0 15px 0;
    padding: 3px;
    box-shadow: 4px 3px rgb(245, 245, 246);
    background-color: black;
    color: white;
  }

.navbar a.active {
  border: 2px solid black;
  border-radius: 15px 0 15px 0;
  padding: 3px;
  box-shadow: 4px 3px rgb(243, 243, 245);
  background-color: black;
  color: white;
  }

  .heading{
    justify-content: center;
    align-items: center;
  }
  .main-heading{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    color: #0f050c;
    font-size: 45px;
    font-style: italic;
    font-weight: lighter;
    text-shadow: 4px 4px #0b0bf3;

  }
  .main-heading1{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 15px;
    font-family: cursive;
    font-size: 22px;
    color: rgb(245, 75, 126);
    text-shadow: 1px 1px #0d0d0e;
    margin-bottom: 20px;
  }
  .main-heading2{
    position: absolute;
    top: 80px;
    left:640px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 15px;
    font-family: cursive;
    font-size: 24px;
    color:blue;
  }
   
    .park{
        position: relative;
        margin-top: -40px;
        width: 100%;
        height: 540px;
        

    }
  .image1{
    position: absolute;
    height: 300px;
    width: 400px;
    top: 100px;
    left:25px;
    border-radius: 20px;
    box-shadow: 4px 3px 5px 3px rgb(67, 112, 225);
  }

  .image1:hover{
    box-shadow: 4px 3px 5px 3px rgb(224, 42, 154); 
    height: 320px;
    width: 420px;
    left: 30px;
  }
  .discription{
    position: absolute;
    font-family: cursive;
    font-size: 20px;
    left: 460px;
    top: 113px;
    right: 20px;
  }
  .main-heading3{
    text-align: center;
    margin-top: 15px;
    font-family: cursive;
    font-size: 27px;
    color:blue;
  }
  .container{
    position: relative;
    height: 600px;
    width: 100%;
  }
  .water-card{
    position: absolute;
    height: 500px;
    width: 500px;
    top:40px;
    left: 40px;
    border-radius: 20px;
    box-shadow: 4px 3px 5px 3px rgb(224, 42, 154); 

  }
  

  .water-card-image{
    margin-top: 20px;
    height: 300px;
    width: 350px;
    margin-left: 70px;
    border-radius: 20px;
    box-shadow: 4px 3px 5px 3px rgb(67, 112, 225);
  }

  .water-card-image:hover{
    border: none;
    border-radius: 20px;
    box-shadow: 4px 3px 5px 3px rgb(224, 42, 154); 

  }
  .amusement-card{
    position: absolute;
    height: 500px;
    width: 500px;
    top:40px;
    right:40px;
    border-radius: 20px;
    box-shadow: 4px 3px 5px 3px rgb(224, 42, 154); 
  }
  .amusement-card:hover{
    box-shadow: 4px 3px 5px 3px rgb(67, 112, 225);
    height: 510px;
    width: 500px;
    right: 35px;

  }
  .water-card:hover{
    box-shadow: 4px 3px 5px 3px rgb(67, 112, 225);
    height: 510px;
    width: 500px;
    left:35px;
   }

   h1{
    text-align: center;
    margin-top: 15px;
    font-size: 35px;
    font-family: cursive;
    color: #3636d0;
    font-weight: 200;
    text-shadow: 2px 2px #e026b4;
   }
   .btn{
    margin-top: 15px;
   margin-left: 126px;
   text-align: center;
   height: 55px;
   width: 250px;
   border-radius: 15px 0px 15px 0px;
   font-size: 28px;
   color: #0d0d0d;
   background-color:white;
   box-shadow: 2px 3px 2px 3px rgb(96, 125, 203);
   font-weight:bold;
   font-family:cursive;
   border:none;
   
   }

   .btn:hover{
    border-radius: 0px 15px 0px 15px;
    box-shadow: 2px 3px 2px 3px rgb(217, 60, 225);
    background-color: rgb(19, 20, 19);
    color:rgb(248, 244, 244);
    font-weight:bold;
   }

  .youtube-video{
    position: absolute;
    top: 60px;
    left:575px;
    height: 450px;
    width: 650px;
    box-shadow: 5px 4px 6px 4px rgb(13, 13, 13);
   }

   .youtube-video:hover{
    box-shadow: 4px 3px 5px 3px rgb(78, 203, 235);
   }


  .marq {
    background-color: rgb(219, 242, 242);
    height: 550px;
    width: 100%;
    margin-top: 0%;
}
.marqueimg{
  height: 550x;
  width: 1000px;
  margin-top: -10%;
}
  

/* Footer Styles */
footer {
  background-color: rgb(52, 48, 48);
  padding: 40px 0;
  color: #f8f5f5;
  text-align: center;
  font-family: cursive;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 100%;
  margin: 0 auto;
}

.footer-column {
  width: 265px;
  margin-bottom: 10px;
}

h3 {
  font-size: 21px;
  margin-bottom: 15px;
  color: #f4f1f1;
}

p {
  font-size: 14px;
  line-height: 1.5;
}

ul {
  list-style: none;
  padding: 0;
}

ul li a {
  color: #fcfafa;
  text-decoration: none;
  font-size: 17px;
  transition: color 0.3s ease;
  margin-bottom: 10px;
}

ul li a:hover {
  color: #f31212;
}

.social-icons {
  display: block;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  /* height: 20px;
  width: 40px; */
}


.social-icons li {
  margin: 0 8px;
  
}

.fa {
  font-size: 30px;
 
}


/* Responsive Styles */
@media screen and (max-width: 768px) {
  .footer-column {
    width: 100%;
  }
}
