*{
    margin: 0%;
    padding: 0%;

}
.navbar {
  background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: larger;
    height: 50px;
    font-weight: 100;
    font-size: 20px;
    /* animation: animateBg 5s linear infinite ; */
  }
  @keyframes animateBg {
    100%{
       filter:hue-rotate(360deg);
    }
 }

  .navbar a {
    color: #333;
    text-decoration: none;
    font-family: cursive;
  }

  .navbar a:hover{
    border: 2px solid black;
    border-radius: 15px 0 15px 0;
    padding: 3px;
    box-shadow: 4px 3px rgb(252, 252, 254);
    background-color: black;
    color: white;
  }

.navbar a.active {
  border: 2px solid black;
  border-radius: 15px 0 15px 0;
  padding: 3px;
  box-shadow: 4px 3px rgb(246, 246, 249);
  background-color: black;
  color: white;
  }
  
  .heading{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    color: #0f050c;
    font-size: 55px;
    font-style: italic;
    font-weight: lighter;
    text-shadow: 2px 2px #05c9db;
}
h1{
  text-align: left;
  margin-left: 20px;
    color: #e9e4e4;
    font-size: 65px;
    font-weight: 900;
    text-shadow: 3px 3px #111111;
    font-style: italic;
    
  }
  /* .heading{
    text-align: center;
   color: #000000;
    font-size: 35px;
    font-weight: 900;
    text-shadow: 2px 2px #d995e4;
    font-style: italic;
   
  } */
  .container{
    background: url(../images/ticket2.webp)no-repeat;
    background-size: cover;
    height: 75vh;
    width: 88%;
    background-position: 70% 30%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 7px black;
    margin-top: 20px;
  }
  
  .container:hover{
    background: url(../images/ticket2.jpg)no-repeat;
    background-size: cover;
    height: 77vh;
    width: 90%;
    background-position: 70% 30%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    box-shadow: 0 4px 7px rgb(168, 17, 135);
    margin-top: 20px;
  }
  .ticket-container {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color:transparent;
    height: 440px;
    margin-top: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
   
}

.ticket-card {
  margin-top: 0px;
  height: 340px;
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    margin-left: 50px;
    transition: box-shadow 0.3s;
}
.heading1{
  text-align: center;
 color: #111213;
  font-size: 60px;
  font-style: italic;
  font-weight: lighter;
  text-shadow: 3px 3px #1aaad1;
  font-style: italic;
  margin-left: 35px;
 
}

.ticket-card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.logo img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s;
}

.info h2 {
    margin-top: 15px;
    font-size: 24px;
    color: #0e0f0f;
    text-shadow: 2px 2px rgb(15, 202, 222);
    text-align: center;
}

.info p {
    margin-top: 5px;
    font-size: 18px;
    color: #0d0e0e;
    text-shadow: 2px 2px rgb(19, 197, 203);
    text-align: center;
    font-weight: 700;
}

#book-now-btn {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #0b0908;
    box-shadow: 2px 2px wheat;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#book-now-btn:hover {
    background-color: #272929;
    box-shadow: 2px 2px rgb(16, 16, 16);
    transform: scale(1.05);
}
@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(-10px); }
  100% { opacity: 1; transform: translateY(0); }
}

.fade-in-animation {
  animation: fadeIn 0.5s ease-in-out;
}
.fade-in-animation1 {
  animation: fadeIn 1s ease-in-out;
}
.card2{
  height: 360px;
  width: 680px;
  margin-left: 30px;
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0,0.2);
  mix-blend-mode: color-burn;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s;
}
.card2 img{
  height: 300px;
  width: 320px;
  margin-top: 20px;
  border-radius: 50%;
  margin-left: 50px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.2);
}
.card2 text{

}
.heading2{
  text-align: center;
 color: #111213;
  font-size: 60px;
  font-style: italic;
  font-weight: lighter;
  text-shadow: 3px 3px #1aaad1;
  font-style: italic;
  margin-left:320px;
 margin-top: -280px;
}
