*{
    margin: 0%;
    padding: 0%;

}
.navbar {
  background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: larger;
    height: 50px;
    font-weight: 100;
    font-size: 20px;
    /* animation: animateBg 5s linear infinite ; */
  }
  @keyframes animateBg {
    100%{
       filter:hue-rotate(360deg);
    }
 }

  .navbar a {
    color: #333;
    text-decoration: none;
    font-family: cursive;
  }

  .navbar a:hover{
    border: 2px solid black;
    border-radius: 15px 0 15px 0;
    padding: 3px;
    box-shadow: 4px 3px rgb(251, 251, 253);
    background-color: black;
    color: white;
  }

.navbar a.active {
  border: 2px solid black;
  border-radius: 15px 0 15px 0;
  padding: 3px;
  box-shadow: 4px 3px rgb(237, 237, 240);
  background-color: black;
  color: white;
  }
  .heading{
    justify-content: left;
    align-items: left;
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
    color: #20121c;
    font-size: 75px;
    font-style: italic;
    font-weight: lighter;
    text-shadow: 2px 2px #f5af77;
}
.font{
  justify-content: left;
  align-items: left;
  text-align: left;
  font-size: 35px;
  text-shadow: 2px 2px #f3d0d0;
  margin-left: 10px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main-container{
   height: 75vh;
   width: 88%;
   align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    padding: 15px;
    background: url(../images/pic10.png ) no-repeat;
    background-size:cover ;
    box-shadow: black 0 4px 7px;
    /* animation: animateBg 5s linear infinite ; */
   
}
.main-container:hover{
    box-shadow: 0 4px 7px rgb(78, 150, 233);
    height: 75vh;
   width: 90%;
   margin-right: auto;
   margin-left: auto;
   background: url(../images/family1.jpeg) no-repeat;
   background-size: cover;
  

}

.container{
   
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
    margin-bottom: 30px;
}
.style-1{
  font-style: italic;
  font-size: 30px;
  text-shadow: rgb(138, 212, 236) 3px 2px;
}

.style-2{
  font-style: italic;
  font-size: 30px;
  text-shadow: lightcoral 2px 2px;
}

.style-3{
  font-style: italic;
  font-size: 30px;
  text-shadow: goldenrod 2px 2px;
}

.img-1{
   
   height: 260px;
   width: 300px;
   padding: 4px;
   box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
   
 
}   
.hover-effect:hover{
    box-shadow: 1px 3px 5px black;
    transition: o.5s;
    
 
    

}
.img-2{
    height: 260px;
    width: 300px;
    padding: 4px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.img-2:hover{
   
    height: 270px;
    width: 320px;
    border: none;
}
.img-1:hover{
  height: 270px;
  width: 320px;
   
    border: none;
}



footer {
  background-color: rgb(52, 48, 48);
    padding: 20px 0;
    color: #fbf7f7;
    text-align: center;
    font-family: cursive;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 100%;
    margin: 0 auto;
  }
  
  .footer-column {
    width: 265px;
    margin-bottom: 10px;
  }
  
  h3 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #f8f5f5;
  }
  
  p {
    font-size: 14px;
    /* line-height: 1.5; */
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li a {
    color: #f6f3f3;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
    margin-bottom: 5px;
  }
  
  ul li a:hover {
    color: #f31212;
  }
  
  .social-icons {
    display: block;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    /* height: 20px;
    width: 40px; */
  }
  
  
  .social-icons li {
    margin: 0 8px;
    
  }
  
  .fa {
    font-size: 30px;
   
  }
  
  
  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    .footer-column {
      width: 100%;
    }
  }